/*
      Created By: Jason Downing
         Created: 1/28/2016 1:30PM EST
    Last Updated: 3/7/2016 1:30PM EST

    MIT Licensed - see http://opensource.org/licenses/MIT for details.
    Anyone may freely use this code. Just don't sue me if it breaks stuff.

    This is the primary CSS file for the Dynamic Ski Map Project for GUI II.
*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

/*
    I found this one this stackoverflow page;  it is used to make the "#About" link in the Nav Bar go all
    the way to the top. I changed it to offset to 70px since that seems to be just enough for this fix to work.
    https://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header
*/
a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

body {
  /*
      Background image was found at the following URL (I did not create nor own this image):
      http://desktop.freewallpaper4.me/view/original/2109/snowy-mountain-night.jpg

      The color was found with a Google search for "black color code", and this site was helpful for confirming:
      http://www.rapidtables.com/web/color/RGB_Color.htm
  */
  background-color: #1a1a1a;
/*  background-image: url('../img/snowy-night.jpg'); */
  background-position: center;
  background-repeat: no-repeat;

  /*
      Quick hack to fix scrollbar on home page - wtf, why is this showing up?
      https://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page
  */
  overflow-x:hidden;

  /*
        This line came off of Stackoverflow. It works very well. See the first answer from Vashishtha Jogi.
        https://stackoverflow.com/questions/1150163/stretch-and-scale-a-css-image-in-the-background-with-css-only
   */
  background-size: cover;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: "Advent Pro";
}

/*
      Added padding / margin for better display.
*/
body > .container {
  padding: 65px 10px 0;
}

body > .row {
  margin: 10px;
}

html {
  min-height: 100%;
  position: relative;
  width: 100%;
}

td {
  border: red 10px;
  margin: auto;
  text-align: center;

  height: 250px;
  width: 250px;
}

/* from:  https://stackoverflow.com/questions/5347833/centering-bullets-on-a-centered-list */
ul {
    list-style-position: inside;
}

/*
  This is to replace <center> tags so the site will validate. I was using <center> tags to make images and
  text appear centered on mobile devices, since the bootstrap grids I setup for mobile make things
  appear on separate lines.
  This post explained how to do so:
  https://stackoverflow.com/questions/7226056/equivalent-to-center-tag-in-css
*/
.center_text_images {
  margin: auto;
  text-align: center;
}

/*
    Center table in Bootstrap
    URL: https://stackoverflow.com/questions/9596475/center-table-with-twitter-bootstrap-2
*/
.center-table {
  margin: 0 auto !important;
  float: none !important;
}

/*
  This chunk contains all the highlight / text related CSS.
  Mostly center / left / right alignment and changing the color / font of text.
*/
.about {
  color: white;
  text-align: center;
}

.center_text {
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  text-align: center;
}

.center_text_nohighlight {
  color: black;
  font-size: 200%;
  text-align: center;
}

.center_text_small {
  color: white;
  font-family: "Advent Pro";
  font-size: 120%;
  font-weight: 900;
  text-align: center;
}

h1.name {
  color: white;
  font-family: "Slackey";
  font-size: 500%;
  text-align: center;
}

.highlight {
/*  background-color: black;*/
}

.highlight_box {
/*  background-color: black;*/
  color: white;
}

/* Assignment 5 title */
.highlight_red {
  background-color: black;
  color: red;
  font-family: "Righteous";
}

/* Assignment 7 title */
.highlight_gold {
  background-color: #e5c100;    /* Gold color */
  color: #990000;               /* Dark red color */
  font-family: "Sigmar One";
  font-size: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight_centered {
/*  background-color: black;*/
  color: white;
  font-family: "Advent Pro";
  font-size: 150%;
  font-weight: 100;
  text-align: center;
}

.highlight_centered_small {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 100%;
  font-weight: 100;
  text-align: center;
}

.highlight_centered_margins {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  margin: 10px;
  text-align: center;
}

.highlight_left_aligned {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  text-align: left;
}

.highlight_right_aligned {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  margin-right: -20px;
  text-align: right;
}

.highlight_text_underline {
  background: black;
  font-weight: bold;
  text-decoration: underline;
}

.highlight_text_underline_centered {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
  font-weight: 900;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.left_align {
  color: white;
  text-align: left;
  font-family: "Advent Pro";
  font-size: 200%;
}

.right_align {
  color: white;
  text-align: left;
  font-family: "Advent Pro";
  font-size: 200%;
}

.white_text {
  background-color: black;
  color: white;
  font-family: "Advent Pro";
  font-size: 200%;
}

/* This is to style the "Ski Maps" logo text. */
.ski_logo {
  color: white;
  font-family: "Slackey";
  font-size: 300%;
  font-weight: 300;
}

/* For the "About" on the About Page. */
.about_ski {
  color:  #3333ff;
  font-family: "Advent Pro";
  font-size: 300%;
  font-weight: 300;
}

.text_centered {
  color: white;
  font-family: "Ubuntu";
  font-size: 150%;
  font-weight: 100;
  text-align: center;
}

.underline_text {
  text-decoration: underline;
}

/******************************************************************************************************/

/*

    This is from the following URL:
    http://presscustomizr.com/snippet/change-navbar-colorsfontsize/

*/

/* Adjust Menu (red) text color, (Garamond) font-family, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
  /*color:          red;*/
  /*font-family:    Garamond;*/
  /*padding:        5px 20px;*/
  font-size:      1.2em;
}

/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
  color:          white;
  text-shadow:    none;
}

/* Adjust Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a:first-letter,
.navbar .nav > li.current-menu-ancestor > a:first-letter {
  color:          blue;
  text-shadow:    none;
}


/*
    Center the Navbar links.
    From StackOverFlow.
    URL: https://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar
*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*
    Transparent Navbar.
    From StackOverFlow.
    URL: https://stackoverflow.com/questions/16453537/bootstrap-transparent-navbar

    Modified to match Telsa Motor's navbar theme, which can be found on their website:
    https://www.teslamotors.com/

    ( I basically took their RGB color and used it since it looks EPIC. Credit to
      Telsa Motors for the colors and stuff. )
*/
.navbar {
  background: rgba(69, 69, 69, 0.75);
}

/*
    Footer coloring.
*/
.footer {
  background: rgba(69, 69, 69, 0.95);
  color: white;
  font-family: "Advent Pro";
  font-size: 120%;
  font-weight: 100;
  text-align: center;
  text-decoration-color: white;
}

/*
    Center jquery maphilight map
*/
.center-map {
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: -50px;
}
